h1.something NG 5 Boilerplate

app-demo-ngrx

router-outlet
    h2 router demo
    ul
        li
            a(routerLink="/")
                | home
        li
            a#test2(routerLink="/test2")
                | test2
        li
            a(routerLink="/test3")
                | test3 with resolver
        li
            a(routerLink="/test3", [queryParams]="{paramName: 'something'}")
                | test3 with resolver + param

app-demo-template-form

app-demo-reactive-form
